<!-- Navbar Component -->
<nav class="navbar">
  <div class="nav-container">

    <!-- Logo -->
    <div class="logo">
      <span class="logo-icon">🛍️</span>
      <span class="logo-text">ShopEase</span>
    </div>

    <!-- Navigation Links -->
   <ul class="nav-links">
  <li><a routerLink="dashboard">Home</a></li>
  <li><a routerLink="shop">Shop</a></li>
  <li><a routerLink="wishlist">❤️Wishlist</a></li>
  <li><a routerLink="cart">🛒Cart</a></li>
  <!-- <li><a routerLink="/seller">Seller</a></li> -->
  <li><a routerLink="contact">Contact</a></li>
</ul>


    <!-- Search Bar -->
    <!-- <div class="search-bar">
      <input type="text" placeholder="Search for products...">
      <button>🔍</button>
    </div> -->

    <!-- Icons -->
    <div class="nav-icons">
  <!-- Show user name -->
  <div class="user-info">
    <a routerLink="manageUserProfile">👤 {{ currentUser?.name }}</a>
    
  </div>

  <button class="logout-btn" (click)="logout()">
    Logout
  </button>

</div>


  </div>
</nav>
<!-- Main Content -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>