/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Container */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #ff4d4d;
  cursor: pointer;
}

.logo-icon {
  margin-right: 8px;
  font-size: 26px;
}

.logo-text {
  letter-spacing: 1px;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
   cursor: pointer;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff4d4d;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff4d4d;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 25px;
  width: 300px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.search-bar button {
  border: none;
  background: #ff4d4d;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.search-bar button:hover {
  background: #e60000;
}

/* Icons */
.nav-icons {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}


.logout-btn {
  padding: 6px 12px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  background: #dc2626;
}

.user-info {
  margin-right: 10px;
  font-weight: bold;
   cursor: pointer;
}

