* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  display: block;
  border-radius: 6px;
  transition: 0.3s;
}

.menu a:hover {
  background: #334155;
}

/* Main Section */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f1f5f9;
}

/* Top Navbar */
.navbar {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.welcome {
  font-weight: bold;
  color: #333;
}

.logout-btn {
  padding: 6px 12px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}

/* Content Area */
.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}





.dashboard-header h2 {
  margin: 0;
  font-size: 20px;
}

.dashboard-header p {
  margin: 0;
  font-size: 13px;
  color: #64748b;
}
