.footer {
    background: #111;
    color: #fff;
    padding-top: 50px;
}

/* CONTAINER */
.footerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 8% 40px;
}

/* COLUMN */
.footerCol h2,
.footerCol h3 {
    margin-bottom: 15px;
}

.footerCol p {
    font-size: 14px;
    color: #ccc;
}

.footerCol ul {
    list-style: none;
    padding: 0;
}

.footerCol ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.footerCol ul li:hover {
    color: #ff4d4d;
}

.footerCol a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footerCol a:hover {
    color: #ff4d4d;
}

/* SOCIAL ICONS */
.socialIcons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
}

.socialIcons span:hover {
    color: #ff4d4d;
}

/* BOTTOM */
.footerBottom {
    text-align: center;
    padding: 15px 0;
    background: #000;
    font-size: 14px;
    color: #aaa;
}
